{%  extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="green">
                    <i class="material-icons">assignment</i>
                </div>
                 <a href="{% url 'emp_add' %}"> 
                    <div style="float: right; width: 94px;height: 39px; text-align: center;padding: 3px;" id="ab" class="card-header card-header-icon" data-background-color="rose"><i class="fa fa-plus" aria-hidden="true"></i>Add
                  </div></a>
                  
                <div class="card-content">
                    <h4 class="card-title">User List</h4>
                    <div class="toolbar">
                    </div>
                    <form id="updatePermissionForm">

                        <input type="hidden" value="<?= $role_id ?>" name="role_id">
                        <input type="hidden" value="update_role" name="action">
                    
                        <div class="table-responsive">
                            <table class="table table-striped custom-table">
                                <thead>
                                    <tr>
                                        <th class="fw-bolder">Module Permission</th>
                                        <th class="text-center fw-bolder">Accès</th>
                                        <th class="text-center fw-bolder">Ecrire</th>
                                        <th class="text-center fw-bolder">Modifier</th>
                                        <th class="text-center fw-bolder">Supprimer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($permissions as $prm) : ?>                                        
                                        <tr>
                                            <td>
                                                <i class="ti-folder"></i> <?= moduleName($prm->module_id);?> 
                                                <input type="hidden" value="<?= $prm->module_id ?>" name="module_id[]" >
                                            </td>       
                                            <td class="text-center">
                                                <input class="access_module" type="checkbox" <?= ($prm->can_access) ? 'checked="checked"' : ''; ?> name="can_access[]" value="<?= $prm->can_access ?>">
                                            </td>                
                                            <td class="text-center">
                                                <input type="checkbox" <?= ($prm->can_create) ? 'checked="checked"' : ''; ?> name="can_create[]" value="<?= $prm->can_create ?>">
                                            </td>
                                            <td class="text-center">
                                                <input type="checkbox" <?= ($prm->can_update) ? 'checked="checked"' : ''; ?> name="can_update[]" value="<?= $prm->can_update ?>">
                                            </td>
                                            <td class="text-center">
                                                <input  type="checkbox" <?= ($prm->can_delete) ? 'checked="checked"' : ''; ?> name="can_delete[]" value="<?= $prm->can_delete ?>">
                                            </td>
                                        </tr>
                    
                                    <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                    
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary btn-lg" id="updatePermissionBtn" type="submit" >Sauvegarder</button>
                        </div>
                        
                    </form>
                                        <td class="td-actions text-right">
                                        <a href="{% url 'emp_view' employee.id  %}">   
                                            <button type="button" rel="tooltip" class="btn btn-rose btn-sm" data-original-title="View" title="">
                                                <i class="material-icons">visibility</i>
                                            <div class="ripple-container"></div></button>
                                        </a> 
                                        <a href="{% url 'emp_edit' employee.id  %}"><button type="button" rel="tooltip" class="btn btn-success">
                                            <i class="material-icons">edit</i>
                                        </button></a> 
                                        <a href="{% url 'delete_emp' employee.id  %}"><button
                                            onclick="return confirmPopup('Are you sure you want to remove?','');" rel="tooltip"  class="btn btn-danger btn-sm"><i class="material-icons">close</i>
                                            </button></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <!-- end content-->
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}